@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@600&display=swap");

:root {
  --primary: #f47b8f;
  --background: #ffffff;
  --secondary: #f3aabb;
  --tertiary: #f5cdd3;
}

.products {

  .header {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: center;
    color: var(--primary);
    
    display: block;
    width: 300px;
    height: 80px;
    padding: 5px;
 
    margin: auto;
    margin-bottom: 10px;

    border: 3px solid var(--primary);
    box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--secondary),
      20px -20px 0 -3px var(--background), 20px -20px var(--tertiary);
  }
}


