@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@600&display=swap");

$primary: #f47b8f;
$background: #ffffff;
$secondary: #f72e9c;
$font-size: 14pt;
$form-primary-highlight: #bac1f3;
$form-secondary-highlight: #ffc8ff;

//FEED VARIABLES
$feed-bg: #fae8e0;

.create-post {
  font-family: "Prompt", sans-serif;
  margin: auto;
  padding: 20px;
  width: 800px;

  background: #e2edf7;
  border: 3px solid black;

  display: flex;
  flex-direction: row;
  justify-content: center;

  label {
    font-weight: 700;
    font-size: 24px;

    text-transform: uppercase;
    letter-spacing: 1px;

    display: block;
    margin-bottom: 5px;
  }

  input {
    display: inline-block;
    width: 500px;
    font-size: $font-size;
    line-height: $font-size * 2;
    border: none;
    border-bottom: 5px solid rgba(0, 0, 0, 1);
    padding: 5px 10px;
    outline: none;
    margin-bottom: 20px;
  }

  input:focus {
    border-bottom: 5px solid $form-primary-highlight;
  }

  textarea {
    display: inline-block;
    width: 500px;
    padding: 10px;
    margin-bottom: 20px;

    font-family: "Roboto", sans-serif;
    font-size: $font-size;

    outline: none;
    border: none;
    border-bottom: 5px solid rgba(0, 0, 0, 1);
    resize: none;
  }

  textarea:focus {
    border-bottom: 5px solid $form-primary-highlight;
  }

  button {
    display: inline-block;
    padding: 5px 10px;

    background: #ffaebc;
    font-family: "Prompt", sans-serif;
    font-size: 20px;

    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;

    outline: none;
    border: 1px solid rgba(0, 0, 0, 1);
    box-shadow: 3px 3px 1px $form-primary-highlight,
      3px 3px 1px 1px rgba(0, 0, 0, 1);

    &:hover {
      cursor: pointer;
    }
  }
}

.feed {
  margin: auto;
  padding: 20px;
  width: 800px;

  background: $feed-bg;
  border: 3px solid black;

  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    background: white;
    border: 2px solid black;
    padding: 0px 10px;
    font-family: "Prompt", sans-serif;
    font-size: 24px;
    text-transform: uppercase;
  }

  p {
    padding: 0px 10px;
  }

  .delete {
    width: auto;
    align-self: flex-end;
    background: none;
    opacity: 0.6;

    &:hover {
      background: #f8afa6;
      color: white;
    }
  }

  .create-post-btn {
    padding: 5px 10px;

    background: #f8afa6;
    font-family: "Prompt", sans-serif;
    font-size: 20px;

    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;

    outline: none;
    border: 1px solid #000;
    box-shadow: 3px 3px 1px #fff, 3px 3px 1px 1px #000;

    transition: all 100ms ease-out;

    &:hover {
      cursor: pointer;
      background: #f79489;
    }
  }
}
