$primary: #f47b8f;
$background: #ffffff;
$secondary: #f72e9c;
$font-size: 14pt;
$form-shadow: #ffa580;
$form-primary-highlight: #95a4ff;
$form-secondary-highlight: #ffc8ff;

.searchBar {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;

  input {
    display: inline-block;
    width: 500px;
    font-size: $font-size;
    line-height: $font-size * 2;
    margin-bottom: $font-size * 2;
    border: none;
    border-bottom: 5px solid rgba(0, 0, 0, 1);
    min-width: 250px;
    padding-left: 5px;
    outline: none;
    color: rgba(0, 0, 0, 1);
  }

  input:focus {
    border-bottom: 5px solid $primary;
  }

  button {
    display: inline-block;
    margin-left: 20px;
    line-height: $font-size * 2;
    padding: 0 10px;
    height: fit-content;

    background: $primary;

    font-size: $font-size;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;

    transition: 0.2s all ease-in-out;

    outline: none;
    border: 1px solid rgba(0, 0, 0, 1);
    box-shadow: 3px 3px 1px $form-primary-highlight,
      3px 3px 1px 1px rgba(0, 0, 0, 1);

    &:hover {
      cursor: pointer;
      background: white;
      color: $primary;
      border: 1px solid rgba(0, 0, 0, 1);
    }
  }

}

.searchResult {

  display: flex;
  flex-direction: column;
  justify-content: center;

  h1, h2 {
    text-align: center;  
  }

  .heading {
    margin-left: 10em;
  }

  .ingredients {
    justify-content: center;
    padding-top: 20px;
    width: 80%;
    display: inline-block;

    table {
      margin-top: 2em;
      margin-left: 10em;
      width: 100%;
      border: 1px solid lavender;
      padding: 20px;

      td {
        padding-top: 20px;
      }
  
    }

    #ingredientsList {
      padding: 40px 20px 20px 40px;
      border: 1px solid lightpink;
      margin-top: 2em;
      margin-left: 10em;
    }

    #ingredientsDetails {
      padding : 20px;
    }
  }

}
